﻿@model BitBook2.Models.AdditionalInfo
@{
    ViewBag.Title = "AdditionalInfocreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Additional Info</h2>

<!DOCTYPE html>

<html>
<head>
    <title>User Additional Info</title>
</head>
    <body>
        <div>
    
    @using (Html.BeginForm())
    {


        <table>

            @*<tr>
                <td>@Html.LabelFor(a => a.ProfilePhoto)</td>
                <td>
                    @Html.TextBoxFor(a => a.ProfilePhoto)
                  
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.ProfilePhoto)</td>
                <td>
                    @Html.TextBoxFor(a => a.ProfilePhoto)

                </td>
            </tr>*@
           
            <tr>
                <td>@Html.LabelFor(a => a.Gender)</td>
                <td>
                    @Html.RadioButtonFor(a => a.Gender, "Male") Male
                    @Html.RadioButtonFor(a => a.Gender, "Female")Female
                
                </td>

            </tr>

            <tr>
                <td>@Html.LabelFor(a => a.Education)</td>
                <td>
                    @Html.TextBoxFor(a => a.Education)

                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.Location)</td>
                <td>
                    @Html.TextBoxFor(a => a.Location)

                </td>
            </tr>
           
           
            <tr>
                <td></td>
                <td><input type="submit" value="Add Info" /></td>
            </tr>
            
          

        </table>

    }
            @*@ ViewBag.Message*@
    </div>

</body>
</html>



