@model List<BitBook2.Models.Friend>
<link href="~/Content/Style.css" rel="stylesheet" />
@{
    ViewBag.Title = "AllFriend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Friend</h2>

<ul>
    <li>@Html.ActionLink("Details", "Details", new { id = Session["UserId"] });
    <li>@Html.ActionLink("Home", "Index2", "UserAccount")</li>
    <li>@Html.ActionLink("Profile", "LoggedIn", "UserAccount")</li>
    <li>@Html.ActionLink("Friends", "AllFriend", "UserAccount")</li>
    <li>@Html.ActionLink("Friend Requests", "AllFriendRequest", "UserAccount")</li>
    <li>@Html.ActionLink("Find Friends", "Index", "UserAccount")</li>
    <li>@Html.ActionLink("Logout", "Logout", "UserAccount")</li>
</ul>

    @foreach (var friends in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(friends.Friendname, "Details2", new { id = friends.FriendId })|
            </td>

            <td>
                @Html.ActionLink("Remove Friend", "CancelRequest", new { id = friends.FriendId })
            </td>
        </tr>
    <br />
    }
